.logo-image {
  height: 90px;
  width: 200px;
}

.card-container {
  width: 800px;
}

.error {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.errorMessage {
  color: red;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
