.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-options {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 20px;
  padding: 5px;
  color: gray;
}

.each-option {
  margin: 5px;
}

.current {
  color: green;
}
